html

header{ 
background-color:white;
color: black;
font-size: larger;
font-style: oblique;
font-family: Verdana; 
text-align: center; 
}

main { 
    display: grid;
    grid-template-columns: repeat(6); 
    grid-area: 10px;
    column-gap: 10px;
}
#menu ul {
    padding:0px;
    margin:0px;
    background-color:white;
    list-style-type: none;
    background-color:white;
    color: black;
    height: 0px;
    align-content: center;
    font-size: larger; 
    justify-content: center;
    font-style: italic;
    font-size: large;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}
p {
    border: 8px solid blueviolet;
    padding: 32px;
    margin: 30px;
    align-content: center;
}

h1{
    border: 2px solid white;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
}

h2{
    border: 0px;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
    image-rendering: auto;
    background-image: black ;
}
footer{
    height: 50px;
    font-style: italic;
    text-emphasis: bold;
    text-align:left;
    color: cornsilk;
    font-family: Times New Roman;
    background-color: black;
    }
 